.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs .button {
    padding-top: 10px;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message{
    color: white;
}

.form {

}